apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
spec:
  replicas: 3
  template:
    spec:
      containers:
        - name: my-app
          image: 136312924616.dkr.ecr.eu-north-1.amazonaws.com/my-app:prod
      imagePullSecrets:
        - name: regcred
