apiVersion: v1
kind: Service
metadata:
  name: my-app
spec:
  selector:
    app: my-app
  type: LoadBalancer  # ou ClusterIP si tu testes local
  ports:
    - port: 80           # port accessible depuis l’extérieur (ELB ou port-forward)
      targetPort: 5000   # port sur lequel le conteneur écoute réellement

