name: Build and Deploy to EKS via ArgoCD

on:
  push:
    branches:
      - main

permissions:
  id-token: write       # OIDC
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Debug OIDC token
  run: |
    curl -H "Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" $ACTIONS_ID_TOKEN_REQUEST_URL
  env:
    ACTIONS_ID_TOKEN_REQUEST_TOKEN: ${{ steps.id-token.outputs.token }}
    ACTIONS_ID_TOKEN_REQUEST_URL: ${{ steps.id-token.outputs.request_url }}

      ######################################################
      # 1. Configure AWS Credentials via OIDC
      ######################################################
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::136312924616:role/GithubActionsDeployRole

          aws-region: eu-north-1

      ######################################################
      # 2. Login to Amazon ECR
      ######################################################
      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      ######################################################
      # 3. Build & Push Docker image
      ######################################################
      - name: Build, tag and push image
        run: |
          IMAGE_URI=136312924616.dkr.ecr.eu-north-1.amazonaws.com/my-app:prod
          docker build -t $IMAGE_URI .
          docker push $IMAGE_URI

      ######################################################
      # 4. Install ArgoCD CLI
      ######################################################
      - name: Install ArgoCD CLI
        run: |
          curl -sSL -o argocd https://github.com/argoproj/argo-cd/releases/latest/download/argocd-linux-amd64
          chmod +x argocd
          sudo mv argocd /usr/local/bin/

      ######################################################
      # 5. ArgoCD Login
      ######################################################
      - name: Login to ArgoCD
        env:
          ARGOCD_SERVER: ${{ secrets.ARGOCD_SERVER }}
          ARGOCD_USERNAME: ${{ secrets.ARGOCD_USERNAME }}
          ARGOCD_PASSWORD: ${{ secrets.ARGOCD_PASSWORD }}
        run: |
          argocd login $ARGOCD_SERVER --username $ARGOCD_USERNAME --password $ARGOCD_PASSWORD --insecure

      ######################################################
      # 6. Trigger ArgoCD Sync
      ######################################################
      - name: Sync ArgoCD Application
        run: |
          argocd app sync my-app

